.about {
 width:100vw;
  height: 80vh;
  background-image: url("../../images/pexels-christina-morillo-1181352.jpg");
  background-size: cover;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}
.about h2 {
  margin: 1%;
  color: rgb(28, 92, 77);
  font-weight: bold;
}
.aboutData {
  margin-right: 50px;
}
.about form {
  width: 50vw;
  height:10vh
}

@media only screen and (min-width: 320px) and (max-width: 675px)  {
  .about{
height:auto
  }
  .aboutData{
     background-color: rgba(241, 246, 247, 0.5);
     padding:2%;
     font-size:medium;
     width:70vw;
     height:70vh;
    justify-content: flex-end;
  }
.about form{
  /* text-align: center; */
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100vw
}
}