.contactParentDiv{
    background-image: url("../../images/scrollingBackground.jpg");
    background-size:cover;
    display: flex;
}
.formMain{
    background-color:rgba(26, 11, 11,0.5) ;
    height:70vh;
    width:50vw
}

@media only screen and (min-width: 320px) and (max-width: 675px) {
    .contactParentDiv{
        flex-direction: column;
    }
   
    
}