.container {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 25vw;
  height: 50vh;
  padding: 1%;
  box-shadow: 12px 12px 2px 1px rgba(17, 79, 104, 0.5);
}
.button {
  border-radius: 50%;
  width: 30%;
  font-size: 25px;
  font-weight: bold;
}
.button:active{
    background-color:rgb(93, 107, 93)
}
@media only screen and (max-width: 768px) {
  .container {
    width: 80vw;
    height: 70vh;
    margin-left: 10%;
    padding: 2%;
  }
  .button {
    width: 20%;
    height: 20%;
    padding: 1%;
    margin: 5% 1%;
  }
}
